.edit-section {
  padding: 15px 15px;
  /*overflow: visible;*/
  background-color: #f0f0f0;
  margin-bottom: 15px;
}

.edit-section h5 {
  margin-top: 0;
}
.edit-section .table>tbody>tr>th,
.edit-section .table>tbody>tr>td {
  border: 0;
}
.edit-section .table>tbody>tr>th {
  vertical-align: middle;
  text-align: right;
}

.multi-selection .btn {
  padding: 2px 0;
  margin: 10px auto;
}