.edit-section {
  padding: 15px 15px 0;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}
.activity-unit-edit .unit-limitation th {
  text-align: center;
}
.activity-unit-edit .unit-limitation td {
  padding-left: 15px;
}
.activity-unit-edit .unit-limitation td p {
  margin: 0;
}
.activity-unit-edit .time-input {
  float:none;
  width: 44px;
}
.unit-limitation th .btn {
  width: 100%;
}
#dailyBudgetTable table {
  border: 1px solid #ddd;
}
#search-cinema-candidate tr.selected td,
#search-cinema-choosed tr.selected td {
  background-color: #ff8903;
  color: #fff;
}
#typeTable input[type=number],
#typeTable input[type=text] {
  padding: 6px 12px;
  border-radius: 4px;
}
#typeTable select {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dedede;
}
.activity-pattern-tip {
  padding-left: 15px;
}

.parsley-errors-list+.parsley-errors-list {
  display: none;
}

#popup-city .modal-header label {
  padding-left: 20px;
}
.choosed-city .label {
  display: inline-block;
  margin: 0 2px 5px;
  background-color: #f0f0f0;
  color: #635f5b;
  border-radius: 4px;
  padding: 5px 10px;
}
.candidate-city {
  margin: 15px 0;
}
.candidate-city .nav-tabs {
  border-bottom: 1px solid #aaa;
}
.candidate-city .nav-tabs>li>a {
  padding: 10px 20px;
  color: #383838;
  border: 1px solid #dedede;
  border-bottom-color: transparent;
  margin-right: 15px;
}
.candidate-city .nav-tabs>li.active>a,
.candidate-city .nav-tabs>li.active>a:focus,
.candidate-city .nav-tabs>li.active>a:hover {
  color: #ff8903;
  border: 1px solid #aaa;
  border-bottom-color: transparent;
  background-color: #fff;
}
.candidate-city .nav-tabs>li>a:hover {
  color: #ff8903;
  background-color: transparent;
}
.candidate-city .tab-pane {
  max-height: 300px;
  overflow-y: scroll;
}
.candidate-city .input-group {
  margin: 15px 15px 0;
}
.candidate-city .input-group-addon {
  text-align: left;
  width: 30px;
  vertical-align: top;
  font-size: 18px;
}
.candidate-city label {
  margin: 0 5px 5px 5px;
  padding: 10px 0;
  cursor: pointer;
}
.candidate-city label>input {
  display: none;
}
.candidate-city label>span {
  border: 1px solid #dedede;
  padding: 10px 15px;
}
.candidate-city label>input:checked+span {
  border: 1px solid #ff8903;
  color: #ff8903;
}
.choosed-city .close {
  font-size: inherit;
  float: none;
}
#popup-city .checkbox-inline,
#popup-city .radio-inline {
  padding-left: 0;
}
#popup-city .checkbox-inline>label,
#popup-city .radio-inline {
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
}
#popup-city .checkbox-inline>label>input,
#popup-city .radio-inline>input {
  display: none;
}
#popup-city .checkbox-inline>label>input+span,
#popup-city .radio-inline>input+span {
  padding: 8px;
  border: 1px solid #dedede;
  color: #635f5b;
}
#popup-city .checkbox-inline>label>input:checked+span,
#popup-city .radio-inline>input:checked+span {
  border: 1px solid #ff8903;
  color: #ff8903;
}
#popup-city .checkbox-inline>label>input[disabled]+span,
#popup-city .radio-inline>input[disabled]+span {
  border: none;
}

#popup-unit-dimen .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
  min-width: 10%;
}

#priorityTable>tbody>tr>th {
  text-align: left;
}