.content-area h3 {
  margin: 0;
  display: inline-block;
  vertical-align: text-top;
}
.content-area section:first-child {
  margin-bottom: 60px;
}

/*edit*/
.edit-section {
  padding: 15px 15px 0;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  overflow: hidden;
}
.edit-section .input-group-addon {
  vertical-align: top;
}
.edit-section img {
  display: block;
  margin-top: 5px;
}
.edit-section .table>tbody>tr>th,
.edit-section .table>tbody>tr>td {
  border: 0;
}
#fileupload {
  display: inline-block;
}

#popup-city .modal-header label {
  padding-left: 20px;
}
.choosed-city .label {
  display: inline-block;
  margin: 0 2px 5px;
  background-color: #f0f0f0;
  color: #635f5b;
  border-radius: 4px;
  padding: 5px 10px;
}
.candidate-city {
  margin: 15px 0;
}
.candidate-city .nav-tabs {
  border-bottom: 1px solid #aaa;
}
.candidate-city .nav-tabs>li>a {
  padding: 10px 20px;
  color: #383838;
  border: 1px solid #dedede;
  border-bottom-color: transparent;
  margin-right: 15px;
}
.candidate-city .nav-tabs>li.active>a,
.candidate-city .nav-tabs>li.active>a:focus,
.candidate-city .nav-tabs>li.active>a:hover {
  color: #ff8903;
  border: 1px solid #aaa;
  border-bottom-color: transparent;
  background-color: #fff;
}
.candidate-city .nav-tabs>li>a:hover {
  color: #ff8903;
  background-color: transparent;
}
.candidate-city .tab-pane {
  max-height: 300px;
  overflow-y: scroll;
}
.candidate-city .input-group {
  margin: 15px 15px 0;
}
.candidate-city .input-group-addon {
  text-align: left;
  width: 30px;
  vertical-align: top;
  font-size: 18px;
}
.candidate-city label {
  margin: 0 5px 5px 5px;
  padding: 10px 0;
  cursor: pointer;
}
.candidate-city label>input {
  display: none;
}
.candidate-city label>span {
  border: 1px solid #dedede;
  padding: 10px 15px;
}
.candidate-city label>input:checked+span {
  border: 1px solid #ff8903;
  color: #ff8903;
}
.choosed-city .close {
  font-size: inherit;
  float: none;
}
#popup-city .checkbox-inline,
#popup-city .radio-inline {
  padding-left: 0;
}
#popup-city .checkbox-inline>label,
#popup-city .radio-inline {
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
}
#popup-city .checkbox-inline>label>input,
#popup-city .radio-inline>input {
  display: none;
}
#popup-city .checkbox-inline>label>input+span,
#popup-city .radio-inline>input+span {
  padding: 8px;
  border: 1px solid #dedede;
  color: #635f5b;
}
#popup-city .checkbox-inline>label>input:checked+span,
#popup-city .radio-inline>input:checked+span {
  border: 1px solid #ff8903;
  color: #ff8903;
}
#popup-city .checkbox-inline>label>input[disabled]+span,
#popup-city .radio-inline>input[disabled]+span {
  border: none;
}

#popup-unit-dimen .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
  width: 20%;
}