.cinema-detail h2 {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #f0f0f0;
}
.detail-item {
  margin-bottom: 15px;
}
.detail-item span {
  display: inline-block;
  font-weight: bold;
}
.detail-item td {
  vertical-align: top;
}
.detail-item td p {
  margin-bottom: 3px;
}
.service-item {
  padding-bottom: 1px;
  margin-bottom: 5px;
}
#popup-cinema-bind-merchant h5 {
  font-size: 24px;
  margin: 0 0 15px;
}
#popup-cinema-bind-merchant table {
  border: 1px solid #ccc;
}
#popup-cinema-bind-merchant table .btn {
  padding: 2px 0;
  font-size: 12px;
}
.merchant-list {
  display: none;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}
.merchant-list .btn {
  padding: 5px 0;
}

/* cinema-tp */
#association {
  display: none;
}
#cinemaTable tbody td {
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
#cinemaTable tbody .selected td {
  background-color: #ff8903;
  color: #fff;
}