.edit-section {
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 15px;
  padding: 15px 15px 0;
}

.edit-section .table>tbody>tr>th,
.edit-section .table>tbody>tr>td {
  border: 0;
  vertical-align: middle;
}
.edit-section .table>tbody>tr>th {
  text-align: center;
}
.edit-section .table>tbody>tr>th>.btn {
  width: 100%;
}
.edit-section .table>tbody>tr>th+td {
  padding-left: 15px;
}