.edit-section {
  padding: 15px 15px 0;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}
#dailyBudgetTable table {
  border: 1px solid #ddd;
}
#search-cinema-candidate tr.selected td,
#search-cinema-choosed tr.selected td {
  background-color: #ff8903;
  color: #fff;
}
#typeTable input[type=number],
#typeTable input[type=text] {
  padding: 6px 12px;
  border-radius: 4px;
}
#typeTable select {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dedede;
}
.activity-pattern-tip {
  padding-left: 15px;
}

.parsley-errors-list+.parsley-errors-list {
  display: none;
}

#popup-unit-dimen .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
  min-width: 10%;
}

.highlight {
  border: solid red 1px !important;
}