.movie-detail h2 {
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #f0f0f0;
}
.detail-item {
  margin-bottom: 15px;
}
.detail-item span {
  display: inline-block;
  font-weight: bold;
}
.detail-item td {
  vertical-align: top;
}
.detail-item td p {
  margin-bottom: 3px;
}

#movieTable tbody td {
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
#movieTable tbody .selected td {
  background-color: #ff8903;
  color: #fff;
}

.release-date>input {
  display: inline-block;
  width: 40px;
}
.release-date>input:first-child {
  width: 54px;
}