.edit-section {
  padding: 15px 15px;
  overflow: hidden;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}
.order-detail .edit-section>div {
  display: table;
}
.order-detail .edit-section label {
  display: table-cell;
  width: 130px;
  padding: 3px 0;
}
.tooltip-inner {
  max-width: none;
  text-align: left;
}