.edit-section,
.password {
  width: 100%;
  height: 100%;
  max-width: 360px;
  margin: 0 auto 25px;
}

.edit-section {
  padding-bottom: 15px;
}

.password {
  text-align: center;
  margin-top: 138px;
}

.password h1 {
  margin-bottom: 15px;
}
.password .btn {
  border-radius: 0;
}