.multi-selection {
  padding-bottom: 15px;
}
.multi-selection .table {
  margin-bottom: 0;
  max-width: 640px;
}
.multi-selection .table td {
  padding: 0;
}
.multi-selection select {
  height: 150px;
}
.multi-selection .btn {
  padding: 1px 0;
  margin: 10px auto;
  width: 40px;
}