.edit-section h5 {
  margin-top: 0;
}
.edit-section .table>tbody>tr>th,
.edit-section .table>tbody>tr>td {
  border: 0;
}
.edit-section .table>tbody>tr>th {
  vertical-align: middle;
  text-align: right;
}

.multi-selection>div {
  text-align: center;
}
.multi-selection .btn {
  padding: 2px 0;
  margin: 10px auto;
}